Package: iDCU-IoT
Version: 2.0.3
Section: devel
Priority: optional
Architecture: all
Maintainer: Developers <hg_kang@acs.co.kr>
Homepage: http://www.acs.co.kr
Description: install package for iDCU-IoT
    2.0.0 : first create, bug fix bind error(edit setsockopt)
    2.0.1 : add reboot command
    2.0.2 : add check digital throughput time, add DeviceStatusCheck.o
    2.0.3 : add factory reset
