<?xml version="1.0" encoding="UTF-8"?> 
 
<SINK ver="1.0"> 

   <COFIGURATION> 
        <DEBUG>1</DEBUG> 
        <SETUPPORT>50005</SETUPPORT> 
   </COFIGURATION> 

   <DIGITAL>
	<PORT1INTERVAL>0</PORT1INTERVAL>
	<PORT2INTERVAL>0</PORT2INTERVAL>
        <PORT3INTERVAL>0</PORT3INTERVAL>
        <PORT4INTERVAL>0</PORT4INTERVAL>
        <PORT5INTERVAL>0</PORT5INTERVAL>
        <PORT6INTERVAL>0</PORT6INTERVAL>
        <PORT7INTERVAL>0</PORT7INTERVAL>
        <PORT8INTERVAL>0</PORT8INTERVAL>
    </DIGITAL>
</SINK>
 
